body {
  background-color: whitesmoke;
  color: #3a3a3a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.page-header__item {
  flex: 0 1 200px;
  width: 150px;
  height: auto;
}

li {
  list-style-type: none;
}

.button-class {
  background-color: #3a3a3a;
  color: whitesmoke;
  padding: 15px 30px;
  margin: 4px 2px;
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show above other content */
  z-index: 999;
  /* allows scrolling if screen is not high enough */
  overflow: auto;
  /* centers modal */
  display: grid;
  text-align: center;
}

.modal {
  margin: auto;
  display: inline-block;
  background: white;
  padding: 15px;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

.modal-close {
  background: none;
  color: darkgrey;
}

.modal h1 {
  text-align: center;
}

.modal p {
  text-align: center;
}
