body {
  background-color: rgb(27, 27, 27);
  color: #3a3a3a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

.page-header__item {
  flex: 0 1 200px;
  width: 150px;
  height: auto;
}

ul {
  margin: auto;
  margin-top: 7rem;
  width: 600px;
}

li {
  list-style-type: none;
}

.list-group-item {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: linear-gradient(to right, #d82c2c, #ff7723, #d82c2c);
  border-radius: 0.25rem;
  margin: 4px;
}

.button-class {
  color: white;
  padding: 15px 30px;
  margin: 4px 2px;
  text-align: center;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 2px;
}

.btn-outline-success {
  color: rgb(34, 34, 34);
  border-color: rgb(34, 34, 34);
}

.btn {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
}

.btn-primary {
  background-color: rgb(27, 27, 27);
}

.bg-dark {
  background-color: rgb(27, 27, 27) !important;
}

#modal-container {
  display: none;
}

#modal-container.is-visible {
  position: fixed;
  padding: 20px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* to show above other content */
  z-index: 999;
  /* allows scrolling if screen is not high enough */
  overflow: auto;
  /* centers modal */
  display: grid;
  text-align: center;
}

.modal-close {
  background: none;
  color: darkgrey;
}

.modal h1 {
  text-align: center;
}

.modal p {
  text-align: center;
}

.modal img {
  width: 50%;
  display: block;
  margin: auto;
}
